{
  "extends": "eslint-config-egg",
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "comma-dangle": ["error", {
      "arrays": "ignore",
      "objects": "ignore",
      "imports": "ignore",
      "exports": "ignore",
      "functions": "ignore"
    }]
  }
}
